.skills {
  padding: 60px 0;
  background-color: rgb(220 20 60 / 30%);

  .skillsContent {
    display: flex;
    flex-direction: column;
    gap: 60px;

    .title {
      text-align: center;
      border: 1px solid;
    }

    .skillsWrapper {
      display: flex;
      flex-flow: row wrap;
      row-gap: 60px;
      column-gap: 80px;
      justify-content: space-around;

      border: 1px solid;
    }
  }
}