.greeting {
  height: 100vh;
  background-color: rgb(138 43 226 / 30%);

  .greetingContent {
    display: flex;
    align-items: center;
    justify-content: space-around;

    .text {
      font-weight: bold;

      .name {
        font-size: 2rem;
      }

      .profession {
        font-size: 1rem;
      }

      .hello {
        font-size: 1.5rem;
      }
    }
  }
}