.greeting {
  padding: 100px 0;
  background-color: rgb(138 43 226 / 30%);

  .greetingContent {
    display: flex;
    flex-wrap: wrap;
    row-gap: 100px;
    align-items: center;
    justify-content: space-around;

    .image {
      width: 380px;
      height: 500px;

      background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/3/34/Elon_Musk_Royal_Society_%28crop2%29.jpg/274px-Elon_Musk_Royal_Society_%28crop2%29.jpg");
      background-size: cover;
      border: 15px groove #8a2be2;
    }

    .text {
      font-weight: bold;

      .name {
        font-size: 2rem;
      }

      .profession {
        font-size: 1rem;
      }

      .hello {
        font-size: 1.5rem;
      }
    }
  }
}